@font-face {
  font-family: "Cera GR";
  src: url("/assets/fonts/cera-gr-regular-italic-webfont.eot");
  src: url("/assets/fonts/cera-gr-regular-italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cera-gr-regular-italic-webfont.woff2") format("woff2"),
    url("/assets/fonts/cera-gr-regular-italic-webfont.woff") format("woff"),
    url("/assets/fonts/cera-gr-regular-italic-webfont.ttf") format("truetype"),
    url("/assets/fonts/cera-gr-regular-italic-webfont.svg#ceragr-regularitauploadedfile")
      format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cera GR";
  src: url("/assets/fonts/cera-gr-webfont.eot");
  src: url("/assets/fonts/cera-gr-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cera-gr-webfont.woff2") format("woff2"),
    url("/assets/fonts/cera-gr-webfont.woff") format("woff"),
    url("/assets/fonts/cera-gr-webfont.ttf") format("truetype"),
    url("/assets/fonts/cera-gr-webfont.svg#ceragr-regularuploaded_file")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cera GR";
  src: url("/assets/fonts/cera-gr-bold-italic-webfont.eot");
  src: url("/assets/fonts/cera-gr-bold-italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cera-gr-bold-italic-webfont.woff2") format("woff2"),
    url("/assets/fonts/cera-gr-bold-italic-webfont.woff") format("woff"),
    url("/assets/fonts/cera-gr-bold-italic-webfont.ttf") format("truetype"),
    url("/assets/fonts/cera-gr-bold-italic-webfont.svg#ceragr-bolditalicuploadedfile")
      format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cera GR";
  src: url("/assets/fonts/cera-gr-bold-webfont.eot");
  src: url("/assets/fonts/cera-gr-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cera-gr-bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/cera-gr-bold-webfont.woff") format("woff"),
    url("/assets/fonts/cera-gr-bold-webfont.ttf") format("truetype"),
    url("/assets/fonts/cera-gr-bold-webfont.svg#ceragr-bolduploaded_file")
      format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cera GR";
  src: url("/assets/fonts/cera-gr-light-italic-webfont.eot");
  src: url("/assets/fonts/cera-gr-light-italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cera-gr-light-italic-webfont.woff2") format("woff2"),
    url("/assets/fonts/cera-gr-light-italic-webfont.woff") format("woff"),
    url("/assets/fonts/cera-gr-light-italic-webfont.ttf") format("truetype"),
    url("/assets/fonts/cera-gr-light-italic-webfont.svg#ceragr-lightitaliuploadedfile")
      format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Cera GR";
  src: url("/assets/fonts/cera-gr-medium-italic-webfont.eot");
  src: url("/assets/fonts/cera-gr-medium-italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cera-gr-medium-italic-webfont.woff2") format("woff2"),
    url("/assets/fonts/cera-gr-medium-italic-webfont.woff") format("woff"),
    url("/assets/fonts/cera-gr-medium-italic-webfont.ttf") format("truetype"),
    url("/assets/fonts/cera-gr-medium-italic-webfont.svg#ceragr-mediumitaluploadedfile")
      format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Cera GR";
  src: url("/assets/fonts/cera-gr-medium-webfont.eot");
  src: url("/assets/fonts/cera-gr-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cera-gr-medium-webfont.woff2") format("woff2"),
    url("/assets/fonts/cera-gr-medium-webfont.woff") format("woff"),
    url("/assets/fonts/cera-gr-medium-webfont.ttf") format("truetype"),
    url("/assets/fonts/cera-gr-medium-webfont.svg#ceragr-mediumuploaded_file")
      format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera GR";
  src: url("/assets/fonts/cera-gr-light-webfont.eot");
  src: url("/assets/fonts/cera-gr-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/cera-gr-light-webfont.woff2") format("woff2"),
    url("/assets/fonts/cera-gr-light-webfont.woff") format("woff"),
    url("/assets/fonts/cera-gr-light-webfont.ttf") format("truetype"),
    url("/assets/fonts/cera-gr-light-webfont.svg#ceragr-lightuploaded_file")
      format("svg");
  font-weight: 300;
  font-style: normal;
}
